<!DOCTYPE html>
<html ng-app="fxpro-test-client">

<head>
    <title>FxPro Test</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="libs/angular-material/angular-material.css">
    <script src="libs/angular/angular.js"></script>
    <script src="http://localhost:2000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="libs/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="libs/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="libs/angular-material-icons/angular-material-icons.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="MainController" ng-init="nicknameModal()">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>FxPro Test</h2>
      </div>
    </md-toolbar>
    <section>
      <md-list>
        <md-subheader class="md-primary header">Room: {{room}} <span align="right">Nickname: {{nickname}} </span> </md-subheader>
        <md-whiteframe ng-repeat="m in messages" class="md-whiteframe-z2 message" layout layout-align="center center">
          <md-list-item class="md-3-line">
              <img ng-src="img/user.png" class="md-avatar" alt="User" />
              <div class="md-list-item-text">
                  <h3>{{ m.nickname }}</h3>
                  <p>{{m.message}}</p>
              </div>
          </md-list-item>
        </md-whiteframe>
      </md-list>
    </section>
    <div class="footer">
      <md-input-container>
          <label>Message</label>
          <textarea required ng-model="message" columns="1" md-maxlength="100" ng-enter="send(message)"></textarea>
      </md-input-container>
    </div>
  </md-content>
</body>
</html>
