<md-dialog aria-label="Mango">
  <form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Nickname</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-input-container>
            <label>Please provide a nickname.</label>
            <input ng-model="nickname" type="text">
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="setNickname(nickname)" class="md-primary" ng-disabled="!nickname">
            Ok
        </md-button>
    </div>
  </form>
</md-dialog>
